:root {
  --primary-color: #26509e;
  --secondary-color: #ffdc15;
  --background-color: #333333;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Radio Canada Big", sans-serif;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 50px;
  margin-top: 40px;
}

.header h1 {
  color: white;
}

.container {
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
}

nav img {
  margin-left: 30px;
  margin-top: 20px;
}

.about {
  color: var(--background-color);
}

.about img {
  max-width: 100%;
}

.about h2 {
  font-size: 42px;
  color: var(--primary-color);
  text-align: center;
}

.map {
  margin: 0 auto;
  text-align: center;
  color: var(--primary-color);
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
  color: var(--primary-color);
}

p {
  font-size: 20px;
}

ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  opacity: 0.6;
}

.navigation li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
  list-style: none;
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 30px 120px;
  margin: 40px 0;
}

.phone {
  white-space: nowrap;
}

.footer-rights {
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 60px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  opacity: 0.6;
}

.faq-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #dfe3ee;
  padding: 40px;
}

.faq-container h2 {
  text-align: center;
}

.faq-container h4 {
  margin-bottom: 30px;
}

.faq-container li {
  font-size: 20px;
}

@media (max-width: 960px) {
  body {
    text-align: center;
  }

  nav img {
    display: none;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  .cards {
    font-size: 12px;
  }

  .menu ul {
    padding: 20px;
  }

  .faq-container li {
    font-size: 14px;
  }

  .hours,
  .card-categories li {
    text-align: left;
  }

  .about-image {
    display: none;
  }
}
