.main {
  width: 800px;
  background-color: #26509e;
  margin: 30px auto;
  padding: 30px;
  color: white;
}

.search-input {
  width: 80%;
  font-size: 16px;
  padding: 6px;
  color: #26509e;
  border: none;
}
.search-submit {
  font-size: 16px;
  border-radius: 6px;
  padding: 6px;
  border: none;
}
