:root {
  --primary-color: #26509e;
  --secondary-color: #ffdc15;
  --background-color: #333333;
}

body {
  font-family: "Radio Canada Big", sans-serif;
}

.header a {
  color: #26509e;
}

.active {
  color: var(--secondary-color);
}

.navigation {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  text-decoration: underline;
}
.navigation ul {
  padding: 0;
}

.navigation li {
  list-style: none;
}

.container {
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
}

.header {
  background-color: white;
  color: #26509e;
  padding: 20px;
  text-align: center;
}

.about {
  color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.about img {
  max-width: 100%;
}

.header img {
  max-width: 100%;
}

.map {
  margin: 0 auto;
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

h2 {
  font-size: 42px;
  color: var(--background-color);
}

.about h2 {
  color: var(--primary-color);
}

h3 {
  font-size: 28px;
  color: var(--primary-color);
}

p {
  font-size: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
}

footer p {
  font-size: 14px;
}

footer h2 {
  color: white;
}

.footer-details a {
  color: white;
  text-decoration: underline;
}

.footer-socials a {
  color: white;
  text-align: center;
}

.footer-socials a :hover {
  opacity: 0.6;
  transition-duration: 0.17s;
}

.footer-socials-icons {
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

#message {
  width: 400px;
  height: 150px;
  margin-top: 10px;
}

.button {
  color: #26509e;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
}

.rights-reserved {
  font-size: 12px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  .logo {
    display: none;
  }

  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-hours {
    text-align: center;
    margin-left: 40px;
  }
}
